.hero {
  min-height: 60vh;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #ffffff 45%, rgba(255, 255, 255, 0) 55%),
    url("../images/hero-bg.jpg") no-repeat center center;
  background-size: cover;

  .hero__layout {
    container-type: inline-size;
    container-name: heroLayout;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      align-items: center;
    }
  }

  .hero__content {
    max-width: 700px;

    @supports (display: grid) {
      grid-column: span 6;
    }
  }

  &__title {
    margin-bottom: 1rem;
    @include responsive-text(font-size, $hero-title-size, 2rem);
  }

  &__subtitle {
    margin-bottom: 1.5rem;
    @include responsive-text(font-size, $hero-subtitle-size, 1rem);
  }

  &__actions a {
    white-space: nowrap;
  }

  &__details {
    font-size: $hero-details-font-size;
    color: $color-gray;

    i {
      color: $color-primary;
    }

    @media (max-width: $breakpoint-mobile) {
      flex-direction: column;
    }
  }

  @container heroLayout (max-width: 700px) {
    .hero__title {
      font-size: 1.8rem;
    }

    .hero__subtitle {
      font-size: 1rem;
    }

    .hero__details {
      flex-direction: column;
    }
  }
}
